<div id="fh5co-page-title" style="background-image: url(images/hero_2.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="text">
        <h1>{{pageTitle}}</h1>  
      </div>
      
    </div>
  </div>

  <main role="main" id="fh5co-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3" id="fh5co-sidebar">
          <div class="fh5co-side-block">
            <h3>At a Glance</h3>
            <p>If you want to know what Suzannah's been up to, you have come to the right place. Here is all you need to know.</p>
          </div>
          <div class="fh5co-side-block">
            <h3>Categories</h3>
            <ul class="fh5co-links">
              <li><a ng-click="goToElement('cv-education')">Education</a></li>
              <li><a ng-click="goToElement('cv-work')">Work Experience</a></li>
              <li><a href="#">Volunteer Experience</a></li>
              <li><a href="#">Skills</a></li>
              <li><a href="#">Awards and Scholarships</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-8 col-md-push-1" id="fh5co-content">

          <div class="row">
            <div class="col-md-12"><h2>Curriculum Vitae</h2></div>
          </div>

          <div class="fh5co-spacer fh5co-spacer-sm"></div>

          <div class="row" id="cv-education">
            <div class="col-md-12"><h4>Education</h4></div>
            <div class="col-md-6">
              <p>After graduating from Leo Hayes High School, Suzannah went on to study Computer Science at the University of New Brunswick. She is currently in her fourth year, and has a cumulative GPA of 4.3 (out of 4.3).</p>
            </div>
            <div class="col-md-6">
              <p>Her favorite courses so far have been Intro to Artificial Intelligence, Natural Language Processing, and Net-centic Computing. She also enjoys studying languages, like German, French, Greek, and Spanish.</p>
            </div>
          </div>

          <div class="fh5co-spacer fh5co-spacer-sm"></div>

          <p><img src="images/my-images/unb_beaverbrook.JPG" alt="Image" class="img-responsive"></p>
          <h5>The Beaverbrook room at the Harriet Irving Library. One of my favorite places to study on campus!</h5>

          <div class="row">
            <div class="col-md-6">
              <p><img src="images/my-images/unb_snow.jpg" alt="Image" class="img-responsive"></p> 
            </div>
            <div class="col-md-6">
              <p><img src="images/my-images/unb_fall.JPG" alt="Image" class="img-responsive"></p> 
            </div>
          </div>
          <h5>UNB: beautiful in every season.</h5>



          <div class="fh5co-spacer fh5co-spacer-sm"></div>
          
          <div class="row" id="cv-work">
            <div class="col-md-12"><h4>Work Experience</h4></div>
            <div class="col-md-12">
              <p>Suzannah's first official job was working at a day camp for kids in Quebec. This was part of the YMCA's Summer Work Student Exchange six-week program. It was a great opportunity to explore Quebec, practice French, and earn a good paycheck.</p>
              <p>The summer after she graduated from high school she began working at a Tim Hortons in Fredericton. She continued working there throughout her first year of university, but then moved on to the Computer Science co-op program.</p>
              <p>Her first Computer Science internship was at Professional Quality Assurance (PQA) in Fredericton. She worked there from May to August 2015. Some of her tasks included manually testing websties, testing the content of video-based courses, and writing detailed reviews and bug reports.<p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
